body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
h1 {
  color: #66BFBF;
  font-size: 5.625rem;
  line-height: 2;
  margin-top: 50px;
  font-family: 'Sacramento', cursive;
}
h2 {
 color: #66BFBF;
  font-family: 'Pacifico', cursive;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;

  }
h3 {
color: #11999E
font-family: 'Pacifico', cursive;
}


.top-container {
  background-color: #E4F9F5
  position: relative;
  padding-top: 100px;
}
.middle-container {
margin: 100px 0;
}
.bottom-container{
background-color: #66BFBF;
padding: 50px 0 20px;
}
.top-cloud {
  position: relative;
  left: 250px;
}
.bottom-cloud {
  position: absolute;
}
.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;



}
.skill-image {
  width: 25%;
  float: left;
  margin-right: 30px;
}
.hotwings-image {
  width: 25%;
  float: right;
  margin-left: 30px;
}
.code-skill {
  clear: left;

}
.vpp {
  width: 20%;
}
.intro {
  width: 30%;
  margin: auto;
}
p {
  line-height: 2;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin-top: 100px;
  margin-bottom: 100px;
}
.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.BUTTON_QGD {
   background: #3DF697;
   background-image: -webkit-linear-gradient(top, #3DF697, #3D94F6);
   background-image: -moz-linear-gradient(top, #3DF697, #3D94F6);
   background-image: -ms-linear-gradient(top, #3DF697, #3D94F6);
   background-image: -o-linear-gradient(top, #3DF697, #3D94F6);
   background-image: -webkit-gradient(to bottom, #3DF697, #3D94F6);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   color: #FFFFFF;
   font-family: 'Pacifico', cursive;
   font-size: 10px;
   font-weight: 100;
   padding: 40px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON_QGD:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
a {
  color: #11999E;
  font-family: 'Merriweather', serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover {
  color: #EAF6F6;
}
.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
